.slider {
  position: relative;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -250px;
  font-size: 3rem;
  /* color: #fff; */
  color: #a25e97;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: -250px;
  font-size: 3rem;
  /* color: #fff; */
  color: #a25e97;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 1;
  transition-duration: 1s ease;
}
.slide-active {
  opacity: 1;
  transition-duration: 1s;
}
.inactive {
  opacity: 0.5;
  pointer-events: none;
  transform: scale(0.8);
}

@media screen and (max-width: 1002px) {
  div.inactive {
    display: none;
  }
  .left-arrow {
    color: #a25e97;
    left: -70px;
    font-size: 2rem;
  }
  .right-arrow {
    color: #a25e97;
    right: -70px;
    font-size: 2rem;
  }
}
